$primary:#3E1D4E;
$accent:#FFD700;
$accent-2:#FFB446;
$prefix:app;
$heading-font-family: 'Poppins','Roboto','Verdana',sans-serif;
$body-font-family: 'Poppins', sans-serif;
$font-family-base: $body-font-family;
/*
Bonjour ou bonsoir cher frere et soeur dans le seigneur.
Que la grace du Seigneur Jesus Christ, et l'amour de Dieu, et la communion du Saint Esprit, soient avec vous tous!
Le message d'aujourd'hui est presente par notre frere Peter qui va nous parler de L'origin de la pacque JUive et de sa signification pour les disciple de Jesus Christ.
les deux verset principaux sont les suivants:
Exode chapitre 12 du premiere  au 11 eme verse
Esai chapitre 53 du premier verset au 5eme verset
J'epere que ce message va vous benir. Ouvrez vos bible et l'Esprit Saint nous enseigne.
*/
