@import "bs-base";
@import 'app-variables';
// Create your own map
$custom-colors: (
  "accent": $accent,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
body{
  background-color: $black;
  color: $light;
  a{
    color: $light;
  }
}
@media (prefers-color-scheme:light){
  body{
    background-color: $white;
    color: $dark;
    a{
      color: $dark;
    }
  }
}
