@import "bs-base";
@import "app-variables";
@for $i from 1 to 20 {
  $val:$i*10;
  .width-#{$val}{
    width: $val*1px;
  }
  .height-#{$val}{
    height: $val*1px;
  }
  .min-width-#{$val}{
    min-width: $val*1px;
  }
  .min-height-#{$val}{
    min-height: $val*1px;
  }
  .max-width-#{$val}{
    max-width: $val*1px;
  }
  .max-height-#{$val}{
    max-height: $val*1px;
  }
}
